@font-face {
  font-family: rickAndMorty;
  src: url('./assets/fonts/getSchwifty.ttf');
}

@font-face {
  font-family: Rick;
  src: url('./assets/fonts/rick.ttf');
}

@font-face {
  font-family: Morty;
  src: url('./assets/fonts/morty.ttf');
}

@font-face {
  font-family: handWriting;
  src: url('./assets/fonts/handwriting.TTF');
}

body {
  height: 100vh;
	width: 100vw;
	background: url('./assets/images/background.jpg') no-repeat center center
		fixed;
	background-size: cover;
}

.hide {
  display: none;
}

.show {
  display: block;
}
