.jumbotron {
    text-align: center;
    background: none;
    color: white;
}

.display-4 {
    font-family: rickAndMorty;
    color: lime;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.lead {
    font-family: handwriting;
}