.jumbotron {
	padding-top: 35px;
	text-align: center;
	background: none;
	color: #ffffff;
}

.display-4 {
	font-family: rickAndMorty;
	font-size: 5rem;
	color: #1debe0;
	text-shadow: 2px 2px 10px #000000;
}

.lead {
	font-size: 3rem;
	font-family: Morty;
}

.startButton {
	margin-top: 2rem;
	font-family: rickAndMorty;
	color: #1debe0;
	font-size: 4rem;
	text-shadow: 2px 2px 10px #000000;
	&:hover {
		cursor: pointer;
		color: darken(#1debe0, 10%);
	}
	&:active {
		transition: all 0.2s ease-in;
		transform: translateY(3px);
	}
}
