.card {
    border-radius: 2px;
    height: 200px;
    margin: .5rem;
    position: relative;
    width: 200px;
    text-align: left;
    cursor: pointer;
  }
  
  .card > .img-container {
    overflow: hidden;
    text-align: center;
    background:#000000;
  }
  .card > .img-container > img {
    height: stretch;
    /* width: 60%; */
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }